/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
.dashboard-section .card {
    background: var(--surface-color);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    color: #a15252;
}
.dashboard-section .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}
.dashboard-section .badge {
    background: var(--accent-color);
    color: var(--nav-color);
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.9rem;
}
