/*--------------------------------------------------------------
#  Hero Section
--------------------------------------------------------------*/
.hero {
    padding-top: 80px;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 80px;
}

.hero img {
    position: absolute;
    inset: 0;
    display: block;
    width: 55%;
    /* height: 100%; */
    object-fit:cover;
    z-index: 1;
    filter: grayscale(40%); /* أبيض وأسود */
}

.hero:before {
    content: "";
    background: color-mix(in srgb, var(--background-color), transparent 30%);
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: 0;
}

.hero .container {
    position: relative;
    z-index: 3;
}

.hero h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
}

.hero p {
    margin: 10px 0 0 0;
    font-size: 24px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.hero p span {
    color: var(--accent-color);
    letter-spacing: 1px;
    border-bottom: 2px solid var(--accent-color);
}

.hero .social-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.hero .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: color-mix(in srgb, var(--default-color), transparent 92%);
    color: var(--default-color);
    font-size: 20px;
    transition: 0.3s;
}

.hero .social-links a:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 32px;
    }

    .hero p {
        font-size: 20px;
    }
}
