/* Fonts */
:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --heading-font: "Mulish", sans-serif;
    --nav-font: "Raleway", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
    --background-color: #141414; /* Background color for the entire website, including individual sections */
    --default-color: #d9d9d9; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #ededed; /* Color for headings, subheadings and title throughout the website */
    /*--accent-color: #d12023; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --accent-color: #c1a269; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #1c1c1c; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
    --nav-color: #d9d9d9; /* The default color of the main navmenu links */
    --nav-hover-color: #d12023; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #2e2e2e; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #2e2e2e; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #d9d9d9; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #d12023; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */
.light-background {
    --background-color: rgba(41, 41, 41, 0.8);
    --surface-color: #484848;
}

.dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

